body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.challenge-friend {
    cursor: pointer;
}
.bc {
background-color: lightgrey;
	color: darkslategray;
}

