<template name="ApplicationLayout">
    <header>
        <title>Trivia Rumble</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </header>

    <body class="bc">
        <header class="green">
            <nav role="navigation green">
                <div class="nav-wrapper green container">
                    <a href="/" id="logo-container" class="brand-logo green">Trivia Rumble</a>
                    <ul class="right">
                        <li><a href="search.html"><i class="material-icons green left">search</i>Find Friends</a></li>
                        <li>{{> loginButtons align=right}}</li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {{> yield}}
        </main>
        <footer class="page-footer green">
            <div class="footer-copyright">
                <div class="container">
                    @ 2016 Nathan
                </div>
            </div>
        </footer>
    </body>
</template>